@model IEnumerable<MyGojo.Data.Model.SiteInfo>

@{
	ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
            @Html.Partial("_QuickLinks")    
        </div>
        <div class="well sidebar-nav">
                @* @Html.Partial("_FakeWorkspacesList") *@
                @Html.Partial("_MyWorkspaces")
        </div><!--/.well -->
    </div><!--/span-->

    <div class="span7">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="span12">
                    <h1 class="homepage">MyGOJO</h1>
                    <p>This is a mockup for new MyGojo portal site and/or informational links. It includes a large callout called the hero unit and supporting pieces of content.</p>
                    
                    <p class="normal">Diagnostic: <strong>@ViewBag.Message</strong></p>    
                </div>
            </div>
        </div>  
         
        <div class="row-fluid">
            <div class="span6">
                <div class="alert alert-info">
                    <h4>Employee Directory and Search</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
                    <div class="alert-actions">
                        <a href="#" class="btn small" id="demobtn">Search Form</a>
                        <a href="#" class="btn small">Organization Chart</a>
                    </div>
                </div>
            </div>
            
            <div class="span6">
                <div class="alert alert-info">
                    <h4>Help</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
                    <div class="alert-actions">
                        <a href="#" class="btn small">Help Desk</a>
                        <a href="#" class="btn small">Tips and FAQs</a>
                    </div>
                </div>
            </div><!--/span-->
        </div>
            
        <div class="row-fluid">
            @Html.Partial("_LinksDirectoryRevised")
        </div>  <!--/row-->

        
    </div>
    
    <div class="span3">
        <div class="hero-side">
            <section>   
                <h3>Announcements</h3>
                <article class="entry summary">
                    <h2><a href="#">Best Time To Change 401k</a></h2>
                    <footer>
                        <p><time pubdate="" datetime="2012-05-03T08:28:04+00:00">May 3 2012</time></p>    
                    </footer>
                    <p class="normal">Diagnostic: @ViewBag.Message</p>
                </article>
                <article class="entry summary">
                    <h2><a href="#">Sustainable Ways of Working</a></h2>
                    <footer>
                        <p><time pubdate="" datetime="2012-05-01T20:28:04+00:00">May 1 2012</time></p>    
                    </footer>
                    <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                </article>
                <article class="entry summary last">
                    <h2><a href="#">Gerry's Place Update</a></h2>
                    <footer>
                        <p><time pubdate="" datetime="2012-03-17T20:11:04+00:00">Apr 17 2012</time></p>    
                    </footer>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                </article>
            </section>
            <section>
                <h2>Bulletin Board</h2>
                <article class="entry summary">
                    <h2><a href="http://content.mygojo.com/ENews/ENewsGtv/index.asp">GTV News</a></h2>
                    <footer>
                        <p><time pubdate="" datetime="2012-05-01T20:11:04+00:00">May 01 2012</time></p>    
                    </footer>
                    <p>GTV broadcasts news about our business, our employees, our community and our world.</p>
                </article>
                <article class="entry summary">
                    <h2><a href="http://content.mygojo.com/ENews/ENewsStakeholders/2012Holidays.pdf">Holiday Schedule 2012</a></h2>
                    <footer>
                        <p><time pubdate="" datetime="2012-05-01T20:11:04+00:00">Dec 01 2011</time></p>    
                    </footer>
                    <p>GOJO Industries official holidays for the year 2012.</p>
                </article>
                <article class="entry summary">
                    <h2><a href="http://akr-webapps/Recognition/default.aspx">GOJO Recognition Program</a></h2>
                    <footer>
                        <p><time pubdate="" datetime="2012-05-01T20:11:04+00:00">Jan 01 2011</time></p>    
                    </footer>
                    <p>The GOJO Recognition Program recognizes people who do their best work to promote GOJO Purpose, Vision, and Values.</p>
                </article>
                <article class="entry summary">
                    <h2><a href="http://content.mygojo.com/AboutGOJO/CorporateCalendar/CalendarIndex.htm">GOJO Enterprise Calendars</a></h2>
                    <footer>
                        <p><time pubdate="" datetime="2012-05-01T20:11:04+00:00">Oct 01 2010</time></p>    
                    </footer>
                    <p>The GOJO Enterprise Calendars for various Enterprise groups and regional offices.</p>
                </article>
            </section>
        </div>     
    </div>
    
    
</div>  <!--/row-->