<div class="row-fluid">
    <div class="span12"><hr /></div>
</div>  <!--/row-->

<footer>
    <p><img src="~/Content/Images/GojoLogoThick-Small.png"/></p>
    <p>@Html.ActionLink("About", "About", "Home") | @Html.ActionLink("Contact", "Contact", "Home") | @Html.ActionLink("Terms and Conditions", "Terms", "Home")</p>
    <p>Copyright &copy; @DateTime.Now.Year - Gojo Industries, Inc. - All Rights Reserved.</p>
</footer>

@*
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
            <div class="float-right">
                <ul id="social">
                    <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                    <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>
*@