<div class="span4">
	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-user"></i> Employee Services</h3></li>
		<li><a href="http://content.mygojo.com/EmployeeWellBeing/HROD_new/Resources/Competency/" target="_blank">Competency Foundation</a></li>
		<li><a href="http://content.mygojo.com/EmployeeWellBeing/PMP/Opening%20Page.htm" target="_blank">Performance Management Process</a></li>
	</ul>   

	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-leaf"></i> Workplaces</h3></li>
		<li><a href="http://content.mygojo.com/aboutgojo/workplaces/Plaza_Index.htm" target="_blank">Gojo Plaza</a></li>
		<li><a href="http://content.mygojo.com/aboutgojo/workplaces/International.htm" target="_blank">International</a></li>
		<li><a href="http://content.mygojo.com/aboutgojo/workplaces/Lippman.htm" target="_blank">Manufacturing Center</a></li>
		<li><a href="http://content.mygojo.com/aboutgojo/workplaces/Distribution.htm" target="_blank">Distribution Center</a></li>

	</ul>

</div><!--/span-->

<div class="span4">
	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-book"></i> Tools and Reference</h3></li>
		<li><a href="http://akr-oracle1.gojo.net:7782/discoverer/plus?database=gojorac&eulName=discoverer10" target="_blank">Discoverer</a></li>
		<li><a href="http://content.mygojo.com/BusinessTools/BTGlossary/BTGGOJOGlossarySet.htm" target="_blank">Gojo Glossary</a></li>
		<li><a href="http://content.mygojo.com/gojotemplates/" target="_blank">Gojo Templates</a></li>
		<li><a href="http://content.mygojo.com/BusinessTools/BTLegalDocuments/" target="_blank">Legal Documents</a></li>
		<li><a href="http://prodanon.gojo.net/llanon" target="_blank">Livelink</a></li>
		<li><a href="http://akr-webapps/mssite/index.aspx" target="_blank">Marketing Services</a></li>
        <li><a href="http://akr-webapps/cims/login.aspx" target="_blank">CIMS</a></li>
		<li><a href="http://savvyseller.gojo.net" target="_blank">Savvy Seller</a></li>
		<li><a href="http://content.mygojo.com/ProjectToolkit/PTStageGate/" target="_blank">Stage Gate Toolkit</a></li>
		<li><a href="http://content.mygojo.com/BusinessTools/SMS" target="_blank">Strategic Mgmt. System</a></li>
		<li>.</li>
	</ul>


	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-bookmark"></i> Product</h3></li>
		<li><a href="http://content.mygojo.com/BusinessTools/BTWebApplications/SelfService/CompetitorMain.asp" target="_blank">Competitive Intelligence</a></li>
		<li><a href="http://content.mygojo.com/ECR/Change%20Mangement%20Priority%20List.pdf" target="_blank">Change Management Priority List</a></li>
		<li><a href="http://akr-webapps/EPI/frameset1.htm" target="_blank">Enterprise Product Intelligence</a></li>
		<li><a href="http://content.mygojo.com/GOJOProducts/GPMSDS/DomesticMSDS.asp" target="_blank">MSDS</a></li>
		<li><a href="http://www2.prosarcorp.com/gojo/" target="_blank">Raw Material MSDS</a></li>
		<li><a href="http://content.mygojo.com/BusinessTools/BTWebApplications/regulatory/" target="_blank">TechKnow</a></li>
		<li>.</li>
	</ul>


	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-info-sign"></i> e-Learning</h3></li>
		<li>@Html.ActionLink("Microsoft Office", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("Project Workspaces", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("Team Workspaces", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("File Sharing Workspaces", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("Reference Guides", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("FAQs", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("Feedback", "Index", "Tests", null, new { @class = "" })</li>
		<li>.</li>
	</ul>
</div><!--/span-->

<div class="span4">
	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-calendar"></i> Enterprise Calendars</h3></li>
		<li><a href="http://copy.mygojo.com:8085/communityevents" target="_blank">Community Events</a></li>
		<li><a href="http://copy.mygojo.com:8085/calendar" target="_blank">Corporate Calendar</a></li>
		<li><a href="http://copy.mygojo.com:8085/event" target="_blank">Corporate Events</a></li>
		<li><a href="http://copy.mygojo.com:8085/finclose" target="_blank">Fiscal Calendar</a></li>
		<li><a href="http://copy.mygojo.com:8085/goplaces" target="_blank">Go Places with Gojo</a></li>
		<li><a href="http://copy.mygojo.com:8085/pmp" target="_blank">Perf. Mgmt. Process</a></li>
		<li><a href="http://copy.mygojo.com:8085/pmg" target="_blank">Global</a></li>
		<li><a href="http://copy.mygojo.com:8085/manufacturing" target="_blank">Manufacturing Group</a></li>
		<li><a href="http://copy.mygojo.com:8085/stake" target="_blank">Quarterly Stakeholders</a></li>
		<li><a href="http://copy.mygojo.com:8085/sms" target="_blank">Strategic Management</a></li>
		<li><a href="http://copy.mygojo.com:8085/training" target="_blank">Training</a></li>
		<li><a href="http://copy.mygojo.com:8085/yearend2000" target="_blank">Year End Schedule</a></li>
		<li><a href="http://copy.mygojo.com:8085/holidbrz" target="_blank">Brazil Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/cn-holiday" target="_blank">Canada Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holidfr" target="_blank">France Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holidjn" target="_blank">Japan Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holiduk" target="_blank">U.K. Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holiday" target="_blank">U.S. Holidays</a></li>
		<li>.</li>
	</ul>


	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-exclamation-sign"></i> Help</h3></li>
		<li><a href="http://content.mygojo.com/CoreprocessVR/IT/HelpDesk/ITContactUs.htm" target="_blank">Help Desk</a></li>
		<li><a href="http://content.mygojo.com/it/itproject_methodology/itpm_index.htm" target="_blank">IT Project Methodology</a></li>
		<li>@Html.ActionLink("Tips & Tricks", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("Loaner Equipment", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("System Status", "Index", "Tests", null, new { @class = "" })</li>
		<li>@Html.ActionLink("Contact Numbers", "Index", "Tests", null, new { @class = "" })</li>
		<li><a href="http://content.mygojo.com/portal/myGOJOHelpTips.htm" target="_blank">MyGojo Help</a></li>
		<li><a href="http://content.mygojo.com/IntranetHelp/Feedback/IHFIntranetFeedback.asp" target="_blank">MyGojo Feedback</a></li>
		<li>.</li>
	</ul> 


	<ul class="nav nav-list">
		<li class="nav-header"><h3><i class="icon-screenshot"></i> Locator</h3></li>
		<li><a href="http://content.mygojo.com/sharedlocator/fax.asp" target="_blank">Fax Numbers</a></li>
		<li><a href="http://content.mygojo.com/SharedLocator/" target="_blank">Locator Main Page</a></li>
		<li><a href="http://content.mygojo.com/SharedLocator/documents/ReportforLocator.pdf" target="_blank">Gojo Phone List</a></li>
		<li><a href="http://content.mygojo.com/SharedLocator/documents/qualpakPhoneList.pdf" target="_blank">QualPak Phone List</a></li>
		<li>.</li>
	</ul>
</div><!--/span-->